*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: auto; 
}

h2 {
    background-color: #FA382F;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    
}

.hero-image {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url("./images/seashells.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px 30px 0 30px;
}

.selfie {
    width: 150px;
    border-radius: 50%;
    margin-bottom: -20px;
    border: 3px solid white;
}

.icon {
    border: 3px solid white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.icon-red {
    border: 3px solid #FA382F;
}

.hero-social-media {
    display: flex;
}

.hero-text {
    color: white;
    align-self: flex-start;
    max-width: 300px;
}

.hero-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-block-start: 0;
}

.hero-text p {
    font-weight: bolder;
    font-size: 13px ;
}

.portfolio {
    font-weight: normal;
    margin-right: 20px;

}

.container-grey {
    background-color: #F4F4F4;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px 0px 30px;
    
}

.project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.project-card {
    margin: 0 10px 50px 10px;
}

.project-card a {
    text-decoration: none;
    color: black;
}

.project-card p {
    max-width: 522px;
    font-family: 'Roboto', sans-serif;
}

.project-image-container img {
    max-width: 100%;
    opacity: 0.68;
    
}

.project-image-container {
    position: relative;
    text-align: center;
    color: white;
}

.card-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.sub-title {
    color: #FA382F;
    font-weight: bolder;
}

.tags {
    display: flex;
}

.tag {
    background-color: #FDDFE7;
    color: #2B2E34;
    padding: 5px;
    margin-right:10px;
    font-size: 9px;
}

.tag p {
    margin: auto;
}

.red-link {
    color: #FA382F;
    font-weight: bolder;
    text-decoration: underline;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: column;
    margin: 0 20px 50px 20px;
}

.skills p {
    margin: 6px;
}

.skill-title {
    color: #FA382F;
    font-weight: bold;
}

.more-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 522px;
    margin: 60px;
}

footer {
    background-color: #072BCE;
    color: white;
    text-align: center;
    padding: 40px;
}
footer h5 {
    font-weight: bold;
    font-size: 21px;
}
footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 13px;
}
footer .name {
    font-weight: bold;
}


@media (min-width: 800px) {
    .hero-content {
        padding: 100px 100px 0 100px;
    }
    .selfie {
        width: 250px;
        height: 250px;
    }

    .project-card-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hero-text {
        max-width: 500px;
    }

    .hero-text h3 {
        font-size: 83px;
    }

    .hero-text p {
        font-size: 28px ;
    }

}
/* TODO

x padding in content container 
x check out how to get the an image to a link
link the best projects
add the links below
and add the footer
fix the hero content:
x align them 'right'
px hoto in the right corner, maybe a little smaler? The other pic? 
x fix the h2 
change colors on the links? Darker background? 
Add the red line at the top, or maybe a seashell or something more personal?

clean up the readme s on all projects

*/