*, *::before, *::after {
    box-sizing: border-box;
  }

  body, html {
      height: 100%;
      font-family: 'Roboto', sans-serif;
      margin: 0px;
  }

  h2 {
      background-color:#FA382F;
      color: white;
      font-family: 'Montserrat', sans-serif;
      padding: 5px; 
  }

.hero-image {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url("./images/seashells.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px 30px 0 30px;

}

.selfie {
    width: 150px;
    border-radius: 50%;
    margin-bottom: -20px;
    
} 
/* maybe take away? Make the icon fit the cirkle*/
 .icon {
    border: 3px solid white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.hero-social-media {
    display: flex;
    
}


.hero-text {
    align-self: flex-start;

}
.selfie {
    width: 150px;
    border-radius: 50%;
    
} 

.container-grey {
    background-color:#F4F4F4;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px 0px 30px;
    
}

@media (min-width: 800px) {
    .hero-content {
        padding: 100px 100px 0 100px;
    }

    .selfie {
        width: 250px;
        height: 200px;
    }
}

/* TODO
padding in content container 
check out how to get the an image to a link
link the best projects
add the links below
and add the footer
fix the hero content:
align them 'right'
photo in the right corner, maybe a little smaler? The other pic? 
fix the h2 
change colors on the links? Darker background? 
